
/*** BACKGROUND IMAGE ***/

body {
    background-image: url("../images/leafBackground.jpg");
    background-size: cover;
    text-shadow: black 1px 1px 4px;
}


/*** TRANSITIONS ***/

form {
    transition: margin 1s, width 2s;
}

div.row > div {
    transition: width 2s;
}

.collapsingDiv {
    transition: height 1s;
}


/*** FORM LAYOUT ***/

@media (min-width: 1200px) {
    form {
        width: 60%;
        margin: 10px 30px 30px 10vw;
    }
}
@media (max-width: 1200px) {
    form {
        width: 65%;
        margin: 10px 30px 30px 10vw;
    }
}
@media (max-width: 900px) {
    form {
        width: 100%;
        margin: 0;
    }
}

/*** FAVICON SIZING ***/
#favicon {
    scale: 2.5;
}

/*** SUBMIT BUTTON ***/
#submitBtn:hover {
    background-color: rgba(255,255,255,50%);
}

/*** INLINE ERROR STYLES ***/
div.error {
    font-style: italic;
    margin-top: 3px;
    color: red;
}
.inputError {
    background-color: lightpink;
}

/*** Search Bar ***/
#guestTable_filter {
    float: left;
}
#guestTable_filter label, #guestTable_filter input {
    color: white;
}

/*** NO TEXT SHADOW ***/
.text-shadow-none {
    text-shadow: none !important;
}